.bloco-fotos, .bloco-fotos-papas, .bloco-fotos-parocos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    box-sizing: border-box; /* Evita que o padding cause transbordamento */
    /* border: solid #0039A1;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1.0); */
}

.bloco-fotos-papas img {
    width: 300px;
    height: auto; 
    max-width: 100%;
    margin: 5px; 
    padding: 2px;
    border: solid #0039A1;
    margin-left: 20px;
}

.bloco-fotos-parocos img {
    height: 180px;
    width: auto; 
    max-width: 100%;
    margin: 5px; 
    margin-left: 20px;
    padding: 2px;
    border: solid #0039A1;
}

.bloco-fotos h3 {
    font-size: 25px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    font-family: "Inter", sans-serif;
    width: 100%;
}


.bloco-fotos img {
    align-items: center;
    justify-content: center;
    width: 300px; 
    height: auto;
    max-width: 100%;
    margin: 5px; 
    margin-bottom: 10px;
    padding: 2px;
    border: solid #0039A1;
}

.bloco-fotos figure {
    /* border: black solid; */
    margin: 5px;
    align-items: top;
}

.bloco-fotos figcaption {
    font-size: 15px;
    width: 300px; 
    height: auto;
    margin: 5px; 
}
.bloco-fotos p {
    font-size: 15px;
    width: 200px; 
    height: auto;
    margin: 5px; 
}

.titulo-galeria h2 {
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    text-align: center;
}

@media (max-width: 800px){
    .bloco-fotos img {
        width: 310px;
        height: auto; 
        margin: 14px; 
        margin-bottom: 10px;
    } 

    .bloco-fotos figcaption {
        width: 310px;
        height: auto; 
        margin: 18px; 
        margin-top: 0;
    }


}

@media (max-width: 400px){
    .bloco-fotos img {
        width: 100%;
        height: auto; 
        margin: 0; 
        margin-bottom: 10px;
    }
    .bloco-fotos figcaption {
        margin-top: 0;
        width: auto;
        height: 270px; 
        font-size: 15px;
        margin: 10px; 
    }
    .bloco-fotos figure{
        margin: 0;
        align-items: center;
        justify-content: center;
        border: solid black;
    }


}