


.blocosubtitulo-secretaria {
    /* display: grid; */
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid #0039A1;
    width: 410px;
    margin: 30px;
    padding-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1.0);
    background-color: rgb(237, 237, 237);
}

.blocosubtitulo-secretaria h4 {
    background-color: rgb(10, 1, 110);
    color: white;
    padding: 10px;
    margin-bottom: 0;
    margin: 10px;
    font-size: 18px;
}

.blocotexto-secretaria {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
    width: 350px;
    flex-direction: column;
}

.blocotexto-secretaria p  {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

.blocotexto-secretaria ul  {
    font-size: 20px;
    text-align: left;
    list-style: circle;
    margin: 0;
    margin-top: 5px;
    padding: 3px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

.blocopastorais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.blocopastorais  h3 {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 157, 13);
    border-radius: 20%;
    /* margin-bottom: 20px; */
    height: auto;
    text-align: center;
    padding: 20px 45px;
    margin-bottom: 5px;
}

.blocopastorais  p {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    height: auto;
    text-align: center;
    padding: 15px;
}

.flexl {
    display: flex;
    gap: 0;
}

.flexl div {
    display: flex;
    flex-direction: column;
}

.container-corpo-grid-sec {
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    flex-direction: column;
}

.container-corpo-grid-sec div {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}



.bloco-titulo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco-titulo-sec h2 {
    font-size: 35px;
    margin: 0;
    padding: 30px 30px 0 30px;
    text-align: center;
    font-family: "Inter", serif;
}

.bloco-titulo-sec p {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: "Inter", serif;
}

.informacoes-uteis {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
    font-family: "Inter", sans-serif;
    width: 100%;
}




.bloco-fotos-papas img {
    height: 380px;
    width: auto; 
    max-width: 100%;
    margin: 5px; 
    padding: 2px;
    border: solid #0039A1;
}

.bloco-fotos-parocos img {
    height: 380px;
    width: auto; 
    max-width: 100%;
    margin: 5px; 
    padding: 2px;
    border: solid #0039A1;
}

.bloco-fotos h3 {
    font-size: 25px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    font-family: "Inter", sans-serif;
    width: 100%;
}

.bloco-fotos img {
    width: auto; 
    height: 400px;
    max-width: 100%;
    margin: 5px; 
    padding: 2px;
    border: solid #0039A1;
}

.titulo-galeria h2 {
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    text-align: center;
}

@media (max-width: 800px){
    .bloco-fotos img {
        width: 310px;
        height: auto; 
        margin: 18px; 
    }

}

/* ACIMA DE 850px FAÇA ISSO */
@media (min-width: 850px) {
    .bloco-fotos, .bloco-fotos-papas, .bloco-fotos-parocos {
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
        margin-bottom: 30px;
        padding: 20px;
        box-sizing: border-box; /* Evita que o padding cause transbordamento */
        border: solid #0039A1;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 1.0);
    }
}


@media (max-width: 850px){
    .blocotexto-secretaria ul {
        list-style: none;
        margin: 3px;
        text-align: center;

    }
    .bloco-fotos, .bloco-fotos-papas, .bloco-fotos-parocos {
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
        margin-bottom: 20px;
        padding-top: 0;
        padding: 20px;
        box-sizing: border-box; /* Evita que o padding cause transbordamento */
    }

}
